#Animales {
  height: 100%;
  background: #f0f0f0;
}

#Animales div div {
  transition: all 200ms;
}

#Animales div >div:hover {
  box-shadow: 0px 1px 5px 1px;
}

.x {
justify-content: center;
margin-right: 0;
margin-left: 0;
}

.card {
  width: 70rem;
  height: 40rem;
}
section {
align-content: center;
}